
.taskProgress{
  flex: 1;
  background-color: #0baa9a;
  border-radius:20px;
  height: 100%;
}

.taskBorder{
  border: solid 1px #0baa9a;
 
  border-radius:25px;
  max-width: 100%;
  height: 0.7em

}