.task {
    display: flex;
    flex:0 0 auto;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
  
    margin: 1em
  }

.hidden {
  display: none;
}

.Task:hover .hidden{
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
}