.taskCountdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.countdown{
  flex:2;
  font-size: 1.1rem;
  color: #666666;
}
  
.hidden {
  display: none;
}

.taskCountdown:hover .hidden{
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
}