.task_countdown {
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    
    color: #666666;
  }