article {
  max-height: 67%;
}

article.board {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 0.5em 1em;
  }

  .task_name {
    flex: 4;
    background-color: #DBBBBA;
    color: #4D1510;
    border-radius:20px;
    margin-bottom: 3%;
    font-family: Marion;
  }

  form {
    margin-left: 1.5em
  }