article {
  max-height: 67%;
  
}

article.board {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5em 1em;
    
  }

  .taskName {
      background-color: #fafafb;
      color: #0baa9a;
      border-radius:20px;
      margin-bottom: 0.5em;
      font-family: 'Serif';
      border: 0px;
      text-align: center;
  }

  form {
    margin-left: 2em
  }

  /* .buttonM{
    visibility: hidden;
  }

  .title:hover .buttonM {
    visibility: visible;
  } */

  /* .inputic {
      text-align: center;
      font-family: 'MontserratBold';
      color: #00b97f;
      border-radius:20px;
      font-size: 1em;
      width: 6em;
      margin: 1em
    }
   */