main{
  background:rgba(0,0,0,0.1); 
  background-image: url(https://cms-assets.tutsplus.com/uploads/users/33/posts/30712/image/Redpattern-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 26.5%; 
  background-position: 0px 82px;
  opacity: 0.65;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
}


main > .caption {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  background-color: #E2E7E4;
  color: #5e0104;
  padding: 0.5em;
  width: 63%;
  border-radius: 20px;
  font-size: 2.5em;
  text-align: center;
  align-items: center; 
  font-family: Marion Bold;
}
