@font-face{
  font-family: 'Serif';
  src: url('../../Fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

.task_description{
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
  }
  
  .task_name {
    flex: 3;
    background-color: #F0F2E7;
    color: #FA4D53;
    border-radius:20px;
    margin-bottom: 0.5em;
    font-family: 'Serif';
  }

  p {
    text-align: center;
  }