@font-face{
  font-family: 'Serif';
  src: url('../../Fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

.taskCountdown {
    font-size: 1.1rem;
    font-family: 'Serif';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    
    color: #666666;
  }

  .taskCountdown:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 35%; top: 85%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 13px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
  }