.taskCountdown {
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    
    color: #666666;
  }

  .taskCountdown:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 35%; top: 85%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 13px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
  }