@font-face{
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'PT_Serif';
  src: url('./fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

:root, html,body, element {
  --green: #0baa9a;
}
html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PT_Serif';
  font-size: 15px;
  }

h1 {
  font: "Montserrat" bold 2em;
}
