.captionName{
  text-align: center;
  color: white;
}

.inputic {
    background-color: var(--green);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.3em;
    color: white;
    border-radius:20px;
    width: min-content;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
  }
 
  .inputic::placeholder {
    color: #ddd7d7;
    font-weight: normal;
  }