.bodyProt {
  height: 100%;
  width: 100%;
}

header {
  font-size: 1.3rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 1em 2em 1em 0; 
  height: 1.5rem;
  background-color: #232931;
  color: #F0ECE2;
  top: 0px;
  right: 0px;
  left:0px;
  position: fixed;
}

header > div {
  display: flex;
  align-items: center;
}

footer{
  height:1.9em;
  background-color: #232931;
  color: #F0ECE2;
  width: 100%;
  left:0px;
  bottom: 0px;
  position: fixed;
}