.bodyProt {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column; 
  max-width: 100%;
}


/* footer{
  flex: 1;
  background-color: #00b97f;
  color: #F0ECE2;
  width: 100%;
  left:0px;
  bottom: 0px;
  position: fixed;
} */