.taskDescription{
    display: flex;
    flex-flow: column nowrap;
    flex: 5;
    margin: 0em 1em; 
  }
  
.taskName {
  display: flex;
  background-color: #fafafb;
  color: var(--green);
  border-radius:20px;
  margin-bottom: 0.5em;
}

.spanName {
  text-align: center;
  padding: 0.5em;
  flex: 7;
}

.deleteTask {
  display: none;
}

.taskName:hover > .deleteTask {
  display: block;

  flex: 2;
  color: var(--green);
  border-radius: 20px;
  border-color: #ffffff;
  outline: none;
  
} 

.hidden {
  display: none;
}

.taskDescription:hover .hidden{
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  color: #666666;
}

