.formic {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.taskName {
    position: relative;
  }
  
 .taskName input {
    width: 6.5em;
    color: var(--green);
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: #c6eeea;
  }
  
  .taskName input:focus {
    outline: none;
  }
  
  .taskName input::placeholder {
    color: #acabab;
  }
  
  .taskName span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--green);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  .taskName input:focus ~ span {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
